statemachine/order_tracker.asl.json
{
  "Comment": "Pyzzeria order state simulator — ~79s ciclo completo",
  "StartAt": "WaitToPreparando",
  "States": {
    "WaitToPreparando": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "SetPreparando"
    },
    "SetPreparando": {
      "Type": "Task",
      "Resource": "${StatusUpdateFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "newStatus": "preparando",
        "estimatedSeconds": 12
      },
      "ResultPath": null,
      "Next": "WaitToHorno"
    },
    "WaitToHorno": {
      "Type": "Wait",
      "Seconds": 12,
      "Next": "SetHorno"
    },
    "SetHorno": {
      "Type": "Task",
      "Resource": "${StatusUpdateFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "newStatus": "horno",
        "estimatedSeconds": 20
      },
      "ResultPath": null,
      "Next": "WaitToListo"
    },
    "WaitToListo": {
      "Type": "Wait",
      "Seconds": 20,
      "Next": "SetListo"
    },
    "SetListo": {
      "Type": "Task",
      "Resource": "${StatusUpdateFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "newStatus": "listo",
        "estimatedSeconds": 30
      },
      "ResultPath": null,
      "Next": "WaitToEntregado"
    },
    "WaitToEntregado": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "SetEntregado"
    },
    "SetEntregado": {
      "Type": "Task",
      "Resource": "${StatusUpdateFunctionArn}",
      "Parameters": {
        "orderId.$": "$.orderId",
        "newStatus": "entregado",
        "estimatedSeconds": null
      },
      "ResultPath": null,
      "End": true
    }
  }
}
